* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.max-width-wrapper {
  width: 100%;
}

header {
  height: 382px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.intro-chunk {
  margin-left: 240px;
  padding: 24px;
  margin-top: 96px;
  margin-bottom: 64px;
  max-width: 415px;
}

@media only screen and (min-width: 391px) and (max-width: 768px) {
  .intro-chunk {
    margin-left: 0;
  }
}

@media only screen and (max-width: 390px) {
  .intro-chunk {
    margin-left: 0;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 48px;
  font-weight: 800;
}

p {
  font-size: 1.25rem;
}

.intro-chunk p:not(:last-child) {
  margin-bottom: 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  height: 100%;
  background-color: hsl(0deg, 0%, 40%);
  padding-top: 72px;
  padding-inline: 15rem;
}

@media only screen and (max-width: 768px) {
  main {
    padding-inline: 0;
  }
}

.card {
  background-color: #fff;
  max-width: 800px;
  padding-bottom: 16px;
  padding-top: 8px;
  width: 100%;
}

.card p {
  padding-inline: 24px;
  padding-block: 8px;
}

.card p:first-of-type {
  padding-top: 32px;
  margin-top: -8px;
}

.indented-heading {
  margin-left: -8px;
  width: fit-content;
  padding-inline: 32px;
  padding-block: 16px;
  margin-right: 24px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

/* Add styles here! */
